{% extends "base.html" %} {% block title %}projectMembers{% endblock %} {% block
content %}
<head>
  <title>Project Members</title>
  {% block custom_styles %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='projectMembers_styles.css') }}"
  />
  {% endblock %}
</head>
<body>
  <div class="container">
    <div class="blurred-box">
      <h2>Mohammad Ali</h2>
      <p>
        Hey! I'm Mohammad Ali, and I'm excited to share our Document-Based
        Question Answering System. This project tackles the challenge of finding
        answers within documents for a given question. We built it using the
        Langchain framework, which provides a powerful foundation for building
        AI applications. At the core of the system lies DistillBERT, a large
        language model (LLM) pre-trained for understanding and generating human
        language. To represent the documents and questions in a way the LLM can
        understand, we employed embeddings from Hugging Face, a popular library
        for natural language processing. For the user interface, we used
        Flask.py, a Python web framework, along with HTML and CSS to create a
        user-friendly experience. The entire project is available on GitHub, so
        feel free to explore and learn more about how it works!
      </p>
    </div>
    <div class="blurred-box">
      <h2>Fariya Bilal</h2>
      <p>
        Hi there! I'm Fariya Bilal, and alongside Mohammad Ali, we've developed
        a Document-Based Question Answering System. This system helps users find
        answers to their questions by searching through documents. We built it
        on top of the Langchain framework, which offers a robust platform for
        creating AI systems. DistillBERT, a powerful LLM, plays a crucial role
        in enabling the system to understand and process language. For efficient
        document and question representation, we leveraged embeddings from
        Hugging Face. The front-end interface, built with Flask.py (a web
        framework) and HTML/CSS, provides a smooth user experience. Our project
        is open-source and available on GitHub. We encourage you to check it out
        and contribute to its further development!
      </p>
    </div>
  </div>
</body>
{% endblock %}
